/* old navbar */


/* Header */
header{
    background: #FFFFFF;
    color: #63A5FE;
    padding-top: 20px;
    min-height: 40px;
    border-bottom: #63A5FE 3px solid;
    position: fixed;
    width: 100%;
}

header a{ /* a tags in the header (the tabs)*/
    color: #63A5FE;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 10px 0 10px; /* top right bottom left */
}

header #navbaricon{
    /* background: #869699; */
    float: left;
    top: 0; /* Position the navbar at the top of the page */
}

header #navbaricon h1{
    margin: 0;
}

header nav{
    float: right;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

header .highlight, header .current a{
    color: #CFA6E8;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}


/* experience */

#experience{
    margin: 50px 0 0 0;
}

#experience .experiencebox{
    /* width: 60%; */
    text-align: center;
    padding: 10px;
}

#experience .experiencebox img{
    width: 200px;
    height: 100px;
    border-radius: 2em;
}

#experience .experiencebox h3{
    float: right;
}

.image.left{
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

/* rainbow background */
image{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8c3f9+0,c3cff9+20,c3eef9+40,f6c3f9+60,f9f9c3+80,c3f9c4+100 */
    background: #d8c3f9; /* Old browsers */
    background: -moz-linear-gradient(45deg, #d8c3f9 0%, #c3cff9 20%, #c3eef9 40%, #f6c3f9 60%, #f9f9c3 80%, #c3f9c4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #d8c3f9 0%,#c3cff9 20%,#c3eef9 40%,#f6c3f9 60%,#f9f9c3 80%,#c3f9c4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #d8c3f9 0%,#c3cff9 20%,#c3eef9 40%,#f6c3f9 60%,#f9f9c3 80%,#c3f9c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8c3f9', endColorstr='#c3f9c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
    