body {
  display: flex;
  flex-direction: column;

  /* -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover; */
}

.homepage {
  /* /* background: url("./img/background16.png") no-repeat center center fixed;

  display: flex; */
  /* border: 2px purple solid; */
  /* margin: 20px 0 50px 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}
